# Dependencies
node_modules/

# Env files
.env
.env.local
.env.*.local

# Build output
dist/
.next/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# CI/CD server-side deploy marker (created by scripts/deploy.sh on EC2)
.last_deploy
